<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="edu.ohio_state.khatchad.refactoring.ConvertConstantsToEnumRefactoringContribution"
            id="org.eclipse.convert.fields.to.enum.contribution"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.refactoring"
            description="%ConvertConstantsToEnumDescription"
            id="org.eclipse.convert.fields.to.enum"
            name="%ConvertConstantsToEnumLabel"/>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.ohio_state.khatchad.refactoring.ui.ConvertConstantsToEnumHandler"
            commandId="org.eclipse.convert.fields.to.enum">
        <activeWhen> 
	      <with 
	            variable="selection">
	         <or> 
		         <iterate
	                ifEmpty="false"
	                operator="or"> 
		            <instanceof 
		                  value="org.eclipse.jdt.core.IField"> 
		            </instanceof> 
		         </iterate> 
		         <iterate
	                ifEmpty="false"
	                operator="or"> 
		            <instanceof 
		                  value="org.eclipse.jdt.core.IType"> 
		            </instanceof> 
		         </iterate>
		         <iterate
	                ifEmpty="false"
	                operator="or"> 
		            <instanceof 
		                  value="org.eclipse.jdt.core.ICompilationUnit"> 
		            </instanceof> 
		         </iterate>
		         <iterate
	                ifEmpty="false"
	                operator="or"> 
		            <instanceof 
		                  value="org.eclipse.jdt.core.IPackageFragmentRoot"> 
		            </instanceof> 
		         </iterate>
		         <iterate
	                ifEmpty="false"
	                operator="or"> 
		            <instanceof 
		                  value="org.eclipse.jdt.core.IJavaProject"> 
		            </instanceof> 
		         </iterate>
	         </or>
	      </with> 
        </activeWhen> 
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.refactoring.menu?after=additions">
         <command
               commandId="org.eclipse.convert.fields.to.enum"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <!-- [bm] we need to use actionSets for the Refactoring main menu as o.e.ui.menus is not capable of adding commands to actionsets -->
   <extension
         point="org.eclipse.ui.actionSets">
      <!-- [bm] alphabetic order matters as we need to be plugged in after JDT, thus added XXX -->
      <actionSet
            id="XXXorg.eclipse.jdt.x.convert.fields.to.enum.actionset"
            label="%ConvertConstantsToEnumLabel"
            visible="true">
         <action
               allowLabelUpdate="true"
               definitionId="org.eclipse.convert.fields.to.enum"
               id="XXXedu.ohio_state.khatchad.refactoring.ConvertConstantsToEnumAction"
               label="%ConvertConstantsToEnumLabel"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/typeGroup2"
               retarget="true"
               style="push"
               tooltip="%ConvertConstantsToEnumToolTip">
         </action>
      </actionSet>
   </extension>
</plugin>
